<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/392847eb-57c4-4929-92a0-8a96f8bbcbd3/resourceGroups/handmanservices/providers/Microsoft.Web/sites/handmanservices</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://handmanservices.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>handmanservices.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>handmanservices</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>$handmanservices</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=handymandbserver.database.windows.net,1433;Initial Catalog=&quot;HandyMan Solutions_db&quot;;User ID=Mollaniy;Password=Philani@05" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="HandyMan_Solutions.Models.ApplicationDbContext, HandyMan Solutions" MigrationConfiguration="HandyMan_Solutions.Migrations.Configuration, HandyMan Solutions" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=handymandbserver.database.windows.net,1433;Initial Catalog="HandyMan Solutions_db";User ID=Mollaniy;Password=Philani@05</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>