<footer class="jumbotron text-center bg-info mb-0">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <h5 class="text-uppercase font-weight-bold">About HandyMan Services</h5>
                <p>
                    HandyMan Services provides reliable home maintenance solutions, offering top-notch expertise in appliance repair, HVAC, carpentry, plumbing, and more.
                </p>
            </div>

            <div class="col-md-4 mb-4">
                <h5 class="text-uppercase font-weight-bold">Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="@Url.Action("Index","Home")" class="text-dark">Home</a></li>
                    <li><a href="@Url.Action("Services","Home")" class="text-dark">Services</a></li>
                    <li><a href="#" class="text-dark">Our Team</a></li>
                    <li><a href="@Url.Action("Contact","Home")" class="text-dark">Contact Us</a></li>
                </ul>
            </div>

            <div class="col-md-4 mb-4">
                <h5 class="text-uppercase font-weight-bold">Contact Us</h5>
                <p>
                    21 May Street, Berea Greyville,Durban 4000<br>
                    Email: support@handymanservices.com <br>
                    Phone: +27 (72) 896 6153
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p class="mt-4">
                    &copy; 2024 HandyMan Services. All rights reserved.
                </p>
            </div>
        </div>
    </div>
</footer>
